/* src/components/FormStyles.css */
.logo {
  width: 80px;
   margin-bottom: -2rem; 
}

.form input {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.form select {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.google-signin, .login-btn {
  width: 100%;
  padding: 0.75rem;
  margin: 1rem 0;
  color: white;
  background-color: #ff5a1f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.signup-btn
{
  width: 100%;
  padding: 0.75rem;
  margin: 1rem 0;
  color: white;
  background-color: #ff5a1f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
}

.google-signin {
  background-color: white;
  color: #555;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.forgot-password {
  display: block;
  margin-top: 0.5rem;
  color: #ff5a1f;
  text-decoration: none;
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.a-btn a {
  color: #ff5a1f;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}
.email-label{
  text-align: left !important;
}
.reset-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.p-tag{
  color: rgba(0, 0, 0, 0.3);
  font-size: 0.9rem;
}
.wrapper{
  text-align: left !important;
}


